<!-- Upload header/title -->
  <div class="modal-header">
    <h3 class="modal-title">Upload your photos!</h3>
  </div>
  <!-- The modal's body -->
  <div class="modal-body">

    <!-- Declares the form as a file-uploader -->
      <div style="position:relative;">
        <button class='btn btn-primary' href='javascript:;'>
          Choose File...
          <input type="file" file-input="files" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info").html($(this).val().replace(/^.*\\/, ""));'>
        </button>
        &nbsp;
        <span class='label label-info' id="upload-file-info"></span>
      </div>
      <div ng-show="message.length > 0" class="alert alert-danger">
          <p>{{message}}</p>
      </div>

      <!-- Creates ability to add a title fo photos-->
      <div class="form-group">
          <label for="title">Title:</label>
          <input ng-model="title" type="text" class="form-control" id="title">
      </div>

      <!-- Creates ability to make tags for photos -->
      <div class="uploadTag">
        <div class="form-group">
          <label for="tag">Tags:</label>
          <div style="position: relative">
            <tag id="uploadTag" class="tag" ng-repeat="tag in appliedTags">{{tag}}<button class="removeUploadTag" ng-click="removeTag($index)"><span class="glyphicon glyphicon-remove"></span></button></tag>
              <input ng-keypress="checkPress($event)" id="tagField" ng-change="search($viewValue)" ng-model="tags" type="text" class="form-control">
              <ul ng-show="tagsList.length > 0" class="dropdown-menu" style="display: block">
                <li ng-click="addTag($index)" ng-repeat="tag in tagsList"><a href=""><{{tag.name}}</a></li>
              </ul>
          </div>
        </div>
      </div>

      <div class="uploadPerson">
        <div class="form-group">
          <label for="person">Share with:</label>
          <div style="position: relative">
            <tag id="uploadPerson" ng-click="removePerson($index)" class="person" ng-repeat="person in appliedPeople">{{person.name}}</tag>
              <input id="peopleField" ng-change="peopleSearch($viewValue)" ng-model="people" type="text" class="form-control">
              <ul ng-show="peopleList.length > 0" class="dropdown-menu" style="display: block">
                <li ng-click="addPerson($index)" ng-repeat="person in peopleList"><a ng-bind-html="person.name" href=""></a></li>
              </ul>
          </div>
        </div>

      </div>

      <!-- Creates ability to set photo to public or private visibility -->
      <div class="form-group">
        <label>
          <input type="radio" ng-model="visibility" value="private">
          Private
        </label>
        <label>
          <input type="radio" ng-model="visibility" value="public" checked="checked">
          Public
        </label>
      </div>

  </div>

  <!-- The modal's footer -->
  <div class="modal-footer">

    <!-- Creates the submit/"Upload" and "Close" buttons -->
    <button id="uploadButton" type="submit" class="btn btn-info" ng-click="uploadFile()"><span id="uploadSpinner" class="glyphicon glyphicon-refresh spin"></span><span id="uploadText">Upload</span></button>
    <button class="btn btn-warning" ng-click="cancel()">Close</button>
  </div>
