<!-- Displays the profile info of the user -->
<div class="container-full">

  <div class="row profileContainer" id="profile" align="middle">
    <div class="col-md-12">
      <img class="img-responsive img-circle" ng-src={{profile.img}} id="profileImg"></img>
      <div class="profileInfo">
        <h1 class="user">{{profile.name}}</h1>
      </div>
    </div>
  </div>

</div>

<!-- Displays user's uploaded photos with infinite-scroll -->
<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <div infinite-scroll="loadMore()" infinite-scroll-distance="1" class="gallery hidden" id="profileGallery">
        <div ng-repeat="img in data">
          <a href="#/photo/{{img.lid}}/{{img.pid}}">
            <img ng-src="{{img.thumbnail}}"/>
          </a>
          <div class="caption">
            <a href="#/photo/{{img.lid}}/{{img.pid}}">{{img.title}}</a>
            <div id="author"><a href="#/profile/{{img.uid}}">{{img.photographer}}</a></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
