<div id="photoPage" class="container-fluid">

<!--Adds necessary spacing/padding-->
</br>

  <div class="row">

    <!--Adds responsiveness to the page-->
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
      <div class="photo">
        <img class="img-responsive" id="clickedPhoto" ng-src="{{photo.link}}"/>

        <!--Allows the user to delete photo-->
        <button ng-if="uid == photo.uid" class="deletePhotoButton" ng-click="deletePhoto()">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </div>
    </div>

    <!--Adds responsiveness to the page-->
    <div id="commentColumn" class="col-lg-4 col-md-12 col-sm-12 col-xs-12">

      <!--Displays the photo's information-->
      <div class="photoInfo">
        <div class="media">
          <div class="media-left media-middle">
            <a href="#/profile/{{photo.uid}}">
              <img id="userPhoto" class="media-object" ng-src="{{profile.img}}" height=60px>
            </a>
          </div>
          <div class="media-body">
            <h4 class="photographer"><a href="#/profile/{{photo.uid}}">{{photo.photographer}}</a></h4>
            <div style="position: absolute;">
              <span class="published">{{photo.published}}
                <span class="dot">·</span>
                <span class="dropdown">
                  <button ng-mouseover="visibility.hover = true" ng-mouseleave="visibility.hover = false" class="visibilityButton dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-eye-open"></span>
                    <span class="visibility" ng-show="photo.visibility == 'public'">
                      Public
                    </span>
                    <span class="visibility" ng-show="photo.visibility == 'private'">
                      Private
                    </span>
                  </button>
                  <ul ng-if="uid === photo.uid" class="dropdown-menu">
                    <li><a ng-click="updateVisibility('public')" href="">Public</a></li>
                    <li><a ng-click="updateVisibility('private')" href="">Private</a></li>
                  </ul>
                  <span ng-show="visibility.success && !visibility.loading">
                    <span class="glyphicon glyphicon-ok-sign"></span>
                  </span>

                  <span ng-show="visibility.failure && !visibility.loading">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                  </span>

                  <span ng-show="visibility.loading">
                    <span class="glyphicon glyphicon-refresh spin"></span>
                  </span>
                </span>
              </span>
            </div>
            <br>
            <br>
            <div ng-show="!titleEdit">
              <span>
                <h5 style="display: inline">{{photo.title}}</h5>
              </span>
              <span ng-show="!title.loading && $root.uid == photo.uid">
                <button id="edit" class="editCommentButton" ng-click="titleEdit = !titleEdit">
                  <span style="color: grey" class="glyphicon glyphicon-edit"></span>
                </button>
              </span>
              <span ng-show="title.success && !title.loading">
                <span class="glyphicon glyphicon-ok-sign"></span>
              </span>

              <span ng-show="title.failure && !title.loading">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
              </span>

              <span ng-show="title.loading">
                <span class="glyphicon glyphicon-refresh spin"></span>
              </span>
            </div>
            <div ng-show="titleEdit">

              <!--This form allows user to hit enter to submit comment-->
              <form>

                <!--Displays the "Add comment" box-->
                  <div class="input-group stylish-input-group">
                      <input id="commentText" class="form-control" ng-model="photo.title">
                      <span class="input-group-addon">
                        <button type="submit" id="editTitleButton" ng-click="titleEdit = !titleEdit; editTitle()">
                          <span class="glyphicon glyphicon-share-alt"></span>
                        </button>
                      </span>
                  </div>
              </form>
            </div>
          </div>
        </div>

        <!--Displays the tags for the file-->
        <h5 class="tagField">
          <button ng-click="meta = !meta;" class="tagButton">
            <span class="glyphicon glyphicon-tag"></span>
          </button>
          <span ng-if="photo.tags.length !== 0">
            <span ng-repeat="tag in photo.tags">
              <tag><a href="/#/public?tags={{tag}}">{{tag}}</a><span ng-hide="$last">, </span><tag>
            </span>
          </span>
          <span ng-if="photo.tags.length === 0">
            <tag>Add tags<tag>
          </span>

          <!--Allows photographer to add tags to file-->
          <div ng-if="uid == photo.uid" class="addTags">
            <br ng-show="meta">
            <br ng-show="meta">
            <div ng-show="meta" class="input-group">
              <input type="text" ng-model="newMeta" class="form-control" placeholder="Enter new tags (separated by spaces)">
              <span class="input-group-btn">
                <button ng-click="meta = !meta; editPhoto(newMeta);" class="btn btn-primary" type="button">Submit</button>
              </span>
            </div>
          </div>


        </h5>

      </div>



      <!--Displays the like button and number of likes-->
      <div id="photoBar">
        <button ng-show="liked" class="likeButton" ng-click="like()"><span style="color: blue" class="glyphicon glyphicon-thumbs-up"></span></button>
        <button ng-show="!liked" class="likeButton" ng-click="like()"><span class="glyphicon glyphicon-thumbs-up"></span></button>

        <!--Dipslays number of people who have liked the file-->
        <span ng-if="photo.likes !== 1">
          {{photo.likes}} people
        </span>
        <span ng-if="photo.likes === 1">
          {{photo.likes}} person
        </span>

      </div>

      <!--Creates a divider before somments-->
      <hr id="divider">

      <!--Creates the comment box-->
      <div id="commentBox" class="media-list">
        <div class="media" id="comment" ng-repeat="comment in comments">

          <!--Displays the avatar of the user who commented-->
          <div class="media-left media-top">
            <a href="#/profile/{{comment.uid}}">
              <img id="userPhoto" class="media-object" ng-src="{{comment.profileImg}}" height=60px>
            </a>
          </div>

          <!--Shows the delete and edit comment buttons when comments are hovered over-->
          <div ng-mouseover="comment.hovered = true" ng-mouseleave="comment.hovered = false" class="media-body">

            <h4 class="media-heading">

              <!--Displays the name of the comment's author-->
              <a  href="#/profile/{{comment.uid}}">
                {{comment.author}}
              </a>

              <!--Displays the delete and edit comment buttons-->
              <span ng-show="!comment.loading && $root.uid == comment.uid && comment.hovered" style="float: right">
                <button id="edit" class="editCommentButton" ng-click="edit = !edit; editListener();">
                  <span style="color: grey" class="glyphicon glyphicon-edit"></span>
                </button>
                <button class="deleteCommentButton" ng-click="deleteComment(comment.cid)">
                  <span style="color: grey" class="glyphicon glyphicon-remove"></span>
                </button>
              </span>

              <span ng-show="comment.success && !comment.loading">
                <span class="glyphicon glyphicon-ok-sign"></span>

              </span>

              <span ng-show="comment.failure && !comment.loading">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
              </span>

              <span ng-show="comment.loading">
                <span class="glyphicon glyphicon-refresh spin"></span>
              </span>

            </h4>

            <h5 ng-show="!edit">{{comment.content}}</h5>



            <div>

              <!--This form allows user to hit enter to submit comment-->
              <form ng-submit="submit()">

                <!--Displays the "Add comment" box-->
                  <div ng-show="edit" class="commentEditField input-group stylish-input-group">
                      <textarea id="commentText" class="form-control" ng-model="comment.content"></textarea>
                        <span class="input-group-addon">
                          <button type="submit" id="editCommentButton" ng-click="edit = !edit; editComment(comment.context)">
                            <span class="glyphicon glyphicon-share-alt"></span>
                          </button>
                        </span>
                  </div>
              </form>
            </div>


            <!--Displays the date the comment was published-->
            <h5 class="date">{{comment.date}}</h5>

          </div>

        </div>
      </div>

      <div>

        <!--This form allows user to hit enter to submit comment-->
        <form ng-submit="submit()">

          <!--Displays the "Add comment" box-->
          <div class="addCommentBox" id="addCommentText">
            <div class="input-group stylish-input-group">
                <textarea id="addComment" class="form-control" ng-model="content" placeholder="Add comment"></textarea>
                  <span class="input-group-addon">
                    <button type="submit" id="addButton" ng-click="addComment()">
                      <span class="glyphicon glyphicon-plus"></span>
                    </button>
                  </span>
            </div>
          </div>
        </form>
      </div>



    </div>

  </div>




</div>
