<body  ng-app="photoApp">

<!--Provides necessary padding-->
<br>
<br>
<br>


<!--Implemented Justified Gallery-->
<div id="homeGallery" class="gallery hidden" infinite-scroll="loadMore()" infinite-scroll-distance="1">
  <div ng-repeat="entry in data">
    <a ng-href="/#/photo/{{entry.lid}}/{{entry.pid}}">
      <img ng-src="{{entry.thumbnail}}"/>
    </a>
    <div style="width: 100%" class="caption media">
      <div class="media-left">
        <a href="#/photo/{{entry.lid}}/{{entry.pid}}">{{entry.title}}</a>
        <div id="author"><a href="#/profile/{{entry.uid}}">{{entry.photographer}}</a></div>
      </div>
      <div class="media-right media-top">
        <span ng-show="entry.liked"><span style="color: white" class="glyphicon glyphicon-thumbs-up"></span><span>{{entry.likes}}</span></span>
        <span ng-show="!entry.liked"><span id="whiteThumb" class="glyphicon glyphicon-thumbs-up"></span><span>{{entry.likes}}</span></span>
      </div>
      <div class="media-right media-top">
        <span class="glyphicon glyphicon-share-alt"></span><span style="margin-left: 5px">{{entry.shares}}</span>
      </div>
    </div>
  </div>
</div>


</body>
