<html>

<link rel="import" href="pages/partials/head.html">

<body  ng-app="photoApp">

<div class="container">

  <nav style="background-color:#1D3261" class="navbar navbar-default navbar-fixed-top">

    <div class="row">

      <div class="col-sm-2">.col-md-1</div>
      <div class="col-sm-2">.col-md-1</div>
      <div class="col-sm-2">.col-md-1</div>
      <div class="col-sm-2">.col-md-1</div>
      <div class="col-sm-2">.col-md-1</div>
      <div class="col-sm-2">.col-md-1</div>

   </div>

  </nav>


<h3 class="navbar-text" style="font-family: 'Sue Ellen Francisco', cursive; color:white;">Photo Node</h3>

<button type="button" class="btn btn-primary navbar-btn">Profile <span class="glyphicon glyphicon-user"></span></button>

<form class="navbar-form navbar-right" role="search">

<input type="text" class="form-control" placeholder="Search">

<button type="submit" class="btn btn-default">Submit</button>

</form>



<div id="main">

    <div class="page {{pageClass}}" ng-view></div>



</div>

</div>
</body>

</html>
