<html>


<head></head>



<body>



<h1>Update File</h1>


<form action="/update" method="post">

<h2> Comment Notification? </h2>
<p> Specifies whether you want to get an email notification when someone adds or updates a comment on a file. Options are on or off. </p>

Enter "on" or "off" without quotations
 <input type="text" name="commentNotification"><br>


<input type="submit" value="Submit">
</form>









</body>

</html>
