<html>


<body>

  <form action="/upload/submit" method="post" enctype="multipart/form-data">
    File: <input type="file" name="file"><br>
    <input type="submit" value="Submit">
  </form>


</body>


</html>
