/*------- Styling for landing.ejs-------*/
#loginButton {
  text-align: center  !important;
}

/*------- Styling for page-home.ejs -------*/

.hidden {
  visibility: hidden;
}

.col-center {
  margin:0 auto;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* Styling for home gallery */
.gallery .caption {
  background-color: black;
}

.gallery .caption a {
  font-size: 16px;
  text-decoration: none;
  color: white;
}

.gallery .caption a:hover {
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.gallery .caption #author a {
  font-size: 12px;
  text-decoration: none;
  color: white;
}

.gallery .caption #author a:hover {
  font-weight: bold;
  text-decoration: none;
  color: white;
}

/*------- Styling for navbar -------*/

#navStyle {
  background-color: white;
  color: #004266;
}

#navStyle > .navbar-collapse > ul > li > a {
  color: #004266;
}
#navStyle > .navbar-collapse > ul > li > a:hover {
  color: #004266;
  background-color: inherit;
}

#navStyle > .navbar-collapse > ul > li > a:focus {
  color: #004266;
  background-color: inherit;
}

.navbar-brand {
  color:#004266;
  font-size:24px;
  position: absolute;
  width: 100%;
  text-align: center;
}

.navbar-nav > li > a {
  padding: 0;
}

.nav, .navbar-nav > li {
  padding-right: 20px;
}

.nav, .navbar-nav > li:last-child {
  padding-right: 0;
}

.nav, .navbar-nav, .navbar-right > li {
  padding-right: 20px;
}

#navbar-collapse > ul > .navbarButton > a {
  padding-top: 15px;
  padding-bottom: 11px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 16px;
}

.navButton {
  margin-right: 3px;
}

/* Styling for profile picture */
.profile {
  font-weight: bold;
  padding-top: 6px;
  padding-left: 10px
}

#profilePic {
  margin-right: 5px;
}

.modal-body .btn-primary {
  margin-bottom: 20px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

#uploadTag {
  margin: 5px;
  margin-left: 3px;
  margin-right: 3px;
  padding-right: 3px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}


/* Styling for search bar */
.stylish-input-group .input-group-addon {
  background: white !important;
}

.stylish-input-group .form-control {
  border-right:0;
  box-shadow:0 0 0;
  border-color:#ccc;
}

.stylish-input-group button {
  border: 0;
  background:transparent;
}

/* Styling for logout button */
.logOut {
  margin-right: 5px;
}

/*----- Styling for page-profile.ejs ------*/
.container-full {
  width: 100%;
  margin: 0 auto;
}

body {
  padding: 0;
}

#profileImg {
  margin-top: 60px;
  height: 200px;
}

.profileInfo {
  font-family: "Ariel", sans-serif;
}

.user {
  font-size: 32px;
}

.profileContainer {
  color: #070B19;
}

#searchText {
  width: 100px;
}


/*------- Styling for page-photo.ejs -------*/

#photoPage {
  margin-top: 40px;
}

/* Photo column */
#clickedPhoto {
  margin-top: 20px;
  max-height: 800px;
}

.photo > .photoName {
  position: absolute;
  display: block;
  border: none;
  color: white;
  font-family: "Ariel", sans-serif;
  font-size: 18px;
  font-weight: lighter;
  background: transparent;
  bottom: 12px;
  left: 20px;
}

.photo > .lineDivider {
  display: block;
  position:absolute;
  right:100px;
  height:30px;
  bottom:10px;
  border-left:1px solid white;
}

.photo {
  position: relative;
  float:right;
}

.photo > .deletePhotoButton {
  display: block;
  position: absolute;
  border: none;
  color: white;
  font-family: "Ariel", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  background: transparent;
  bottom: 12px;
  right: 20px;
}

.photo > .photoToolBar {
  position: absolute;
  height: 50px;
  width: 100%;
  bottom: 0;
  display: block;
  background-color: black;
  opacity: 0.85;
  color: white;
}

/* Comment column */
#commentColumn {
  margin-top: 20px;
  margin-right: 5px;
  margin-left: 5px;
  max-height: 750px !important;
  max-width: 450px;
}

/* Photo information */
.photoInfo {
  min-height: 20%   !important;
  overflow: auto;
}

#userPhoto {
  border-radius: 30px   !important;
}

.photoTitle {
  font-family: "Ariel", sans-serif;
  font-weight: bold;
  font-size: 16px;
  display: inline;
}

.editTitle {
  display: none;
  font-size: 14px;
  border: none;
  background-color: inherit;
}

.titleDiv:hover .editTitle {
  display: inline;
  font-size: 14px;
  background-color: inherit;
  border: none #ccc;
  margin-left: 2px;
  padding-left: 2px;
  padding-right: 0;
  position: absolute;
}

.photoCaption {
  display: inline-block;
}

.editCaption {
  display: none;
  font-size: 14px;
  border: none;
  background-color: inherit;
}

.captionField:hover .editCaption {
  display: inline;
  font-size: 14px;
  background-color: inherit;
  border: none #ccc;
  margin-left: 2px;
  padding-left: 2px;
  padding-right: 0;
  position: absolute;
}

#titleText {
  border-radius: 0;
  border-color:#ccc;
  height: 22px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1px;
  max-width: 344px;
}

.titleAlerts {
  margin-left: 24px;
}

.photographer {
  font-size: 14px;
  color: gray;
}

.photographer a {
  color: inherit;
  text-decoration: inherit;
}

.photographer a:hover {
  text-decoration: inherit;
  color: inherit;
}

.media-body a {
  color: inherit;
  text-decoration: inherit;
}

.published {
  font-size: 14px;
  font-family: "Ariel", sans-serif;
  color: gray;
}

.dot {
  padding-left: 8px;
  padding-right: 5px;
  font-weight: bold;
  font-size: 14px;
  color: #333333;
}

#grayDot {
  color: gray;
}

.visibilityButton {
  font-size: 12px;
  background-color: inherit;
  border: none;
  color: gray;
}

#editVisibility {
  display: none;
  color: gray;
}

.visibilityButton:hover #editVisibility {
  display: inline;
  font-size: 12px;
  background-color: inherit;
  border: none;
  padding-left: 2px;
  padding-right: 0;
  position: absolute;
  margin-left: 20px;
  color: gray;
}

.shareButton {
  padding-left: 2px;
  font-size: 14px;
  color: #333333;
  font-family: "Ariel", sans-serif;
  background-color: inherit;
  border: none;
  text-decoration: none;
}

#editShare {
  display: none;
  font-size: 12px;
  margin-right: 0;
  padding-right: 0;
  color: gray;
}

.shareButton:hover #editShare {
  display: inline;
  font-size: 12px;
  background-color: inherit;
  border: none #ccc;
  padding-left: 4px;
  padding-right: 0;
  margin-left: 2px;
  color: gray;
}

.shareButton:hover {
  text-decoration: none;
  color: #333333;
}

.shareButton:focus {
  text-decoration: none;
  color: #333333;
}

#shareInput {
  position: relative;
  display: inline-block;
  border-radius: 0;
  margin-left: 10px;
  height: 22px;
  width: 126px;
  text-align: left;
  text-decoration: none;
}

.visibility {
  font-family: "Ariel", sans-serif;
  padding-left: 0;
  margin-right: 0;
  font-size: 14px;
  color: gray;
}

.captionField {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 20px;
}

.editCaption {
  font-size: 14px;
  border: none;
  background-color: inherit;
}

#captionText {
  border-radius: 0;
  max-height: 80px;
  margin-top: 10px;
}

.tagButton {
  background-color: inherit;
  border: none;
  color: #333333;
  text-decoration: none;
}

.tagButton:focus {
  color: #333333;
  text-decoration: none;
}

.tagButton:hover {
  color: #333333;
  text-decoration: none;
}

.addTags {
  padding: 0;
  margin: 0;
}

tag {
  text-align: center;
  background-color: black;
  color: white;
  display: inline-block;
  border-radius: 2px;
}

.tagSlot {
  background-color: black;
  color: white;
  margin: 2px;
  padding: 3px 0 3px 10px;
  border-radius: 2px;
  display: inline-block;
  max-width: 450px;
}

#tagName {
  color: white;
  padding-right: 10px;
}

#tagsText {
  display: inline-block;
  width: 85px;
  height:22px;
  border-radius: 0;
}

.deleteTagButton {
    font-size: 10px;
    border: none;
    color: gray;
    background: transparent;
    padding-left: 0;
    padding-right: 8px;
    margin-left: 0;
  }

.deleteTagButton:focus {
  color: gray;
  text-decoration: none;
}

.deletetagButton:hover {
  color: gray;
  text-decoration: none;
}

.removeUploadTag {
  font-size: 10px;
  border: none;
  color: gray;
  background: transparent;
}

.glyphicon-tag {
  margin-right: 0;
}

/* Number of likes */
#divider {
  width: 440px;
  margin-top: 0;
  margin-bottom: 10px;
  float: left;
}

.likeButton {
  background-color: inherit;
  border: none;
}

.glyphicon-thumbs-up {
  margin-right: 5px;
  color: #333333;
}

#blueThumb {
  color: blue;
}

#whiteThumb {
  color: white;
}

.people {
  color: #333333;
}

.fullEditButton {
  color: #333333;
}

.fullEditButton:focus {
  text-decoration: none;
  color: #333333;
}

.fullEditButton:hover {
  text-decoration: none;
  color: #333333;
}

.cancelEditButton {
  color: #333333;
}

.cancelEditButton:focus {
  text-decoration: none
  color: #333333;
}

.cancelEditButton:hover {
  text-decoration: none;
  color: #333333;
}

.doneEditButton {
  color: #333333;
}

.doneEditButton:focus {
  text-decoration: none;
  color: #333333;
}

.doneEditButton:hover {
  text-decoration: none;
  color: #333333;
}

#photoBar {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 0;
}

/* Comments */
.media-heading {
  font-size: 14px;
  font-weight: bold;
}

#commentBox {
  float: left;
  overflow: auto;
  width: 440px;
  max-height: 50%;
}

.editButton {
  background-color: inherit;
  border: none;
  margin-left: 50px;
}

.date {
  color: #9d9d9d;
}

.commentEditField {
  font-weight: normal;
}

.commentTextField {
  margin-left: 2px;
  margin-top: 5px;
  width: 340px;
  border-radius: 0;
  border-color: #ccc;
}

.addCommentBox {
  margin-top: 10px;
  margin-bottom: 5px;
  float: left;
}

textarea {
  resize: none;
}

#addButton {
  padding-top: 0;
  padding-bottom: 0;
}

.commentButton {
  color: gray;
}

/* Edit comments */
.editCommentButton {
  background-color: inherit;
  border: none;
  margin-right: 5px;
  font-size: 10px;
}

#commentText {
  height:35px;
}

/* Delete comments */
.deleteCommentButton {
  background-color: inherit;
  border: none;
  margin-right: 10px;
  margin-left: 5px;
  font-size: 10px;
}

/* Delete comments */
.cancelEditComment {
  background-color: inherit;
  border: none;
  margin-right: 10px;
  margin-left: 5px;
  font-size: 10px;
}

#uploadSpinner {
  display: none;
}

#uploadText {
  display: inline;
}

.brandPageNode {
  font-size: 86px;
  font-weight: bolder;
}

.brandPagePhoto {
  font-size: 86px;
}

.brandPageLogo {
  font-size: 72px;
  color:white;
}

.photoNode {
  margin-top: 25%;
}

.brandPhoto {
  margin-top: 8%;
}

.glyphicon-refresh {
  margin-left: 5px;
}

.successfulEdit {
  background: inherit;
  border: none;
}

.glyphicon-ok-sign {
  margin-left: 5px;
  color: #4F8A10;
}

.failedEdit {
  background: inherit;
  border: none;
}

.glyphicon-exclamation-sign {
  margin-right: 5px;
  color: #D8000C;
}

/* ANIMATIONS
============================================================================= */
.spin {
     -webkit-transform-origin: 50% 58%;
     transform-origin:50% 58%;
     -ms-transform-origin:50% 58%; /* IE 9 */
     -webkit-animation: spin 2s infinite linear;
     -moz-animation: spin 2s infinite linear;
     -o-animation: spin 2s infinite linear;
     animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* navbar state animation */

@keyframes navSelected {
  to {
    box-shadow: 0 2px 0 #004266;
    }
  }

/* leaving animations ----------------------------------------- */

@keyframes slideOutLeft {
  to      { transform: translateX(-100%); }
}

@keyframes slideOutRight {
  to      { transform: translateX(100%); }
}

@keyframes slideOutDown {
  to       { transform:translateY(100%); }
}


/* entering animations --------------------------------------- */

@keyframes slideInLeft {
  from    { transform:translateX(-100%); }
  to      { transform: translateX(0); }
}

/* slide in from the right */
@keyframes slideInRight {
  from    { transform:translateX(100%); }
  to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInDown {
  from    { transform:translateY(-100%); }
  to      { transform: translateY(0); }
}

.ng-enter       { z-index: 8888; }
.ng-leave       { z-index: 9999; }

/* page specific animations ------------------------ */

/* loading -------------------------- */
.loadingSplash                     { animation:slideInLeft 0.5s both ease-in;}
.loadingSplash.ng-hide             { animation:slideOutRight 0.5s both ease-in;}

/* about ------------------------ */
/*.page-photo.ng-enter        { animation:slideInDown 0.5s both ease-in; transition-delay: 0.5s; }
.page-photo.ng-leave        { animation:slideOutDown 0.5s both ease-in; }*/

/* contact ---------------------- */
/*.page-profile.ng-enter      { animation:slideInRight 0.5s both ease-in; transition-delay: 0.5s; }
.page-profile.ng-leave      { animation:slideOutLeft 0.5s both ease-in; }*/
