body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#logo {
  font-family: 'Sue Ellen Francisco', cursive;
  color: white;
}

.navbar-brand{
  font-size: 36px;
  position: absolute;
  left: 50%;
  margin-left: -150px !important;
  display:block;
}

.profileButton {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 50px;
}

.uploadButton {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  padding-right: 100px;
}

.glyphicon-upload {
  padding-right: 6px;
}

.searchBar {
  font-size: 14px;
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 50px;
  width: 300px;
}

.stylish-input-group .input-group-addon {
  background: white !important;
}

.stylish-input-group .form-control {
  border-right:0;
  box-shadow:0 0 0;
  border-color:#ccc;
}

.stylish-input-group button {
  border: 0;
  background:transparent;
}


/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */

@keyframes slideOutLeft {
  to      { transform: translateX(-100%); }
}

@keyframes slideOutRight {
  to      { transform: translateX(100%); }
}

@keyframes slideOutDown {
  to       { transform:translateY(100%); }
}


/* entering animations --------------------------------------- */

@keyframes slideInLeft {
  from    { transform:translateX(-100%); }
  to      { transform: translateX(0); }
}

/* slide in from the right */
@keyframes slideInRight {
  from    { transform:translateX(100%); }
  to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInDown {
  from    { transform:translateY(-100%); }
  to      { transform: translateY(0); }
}

.ng-enter       { z-index: 8888; }
.ng-leave       { z-index: 9999; }

/* page specific animations ------------------------ */

/* home -------------------------- */
.page-home.ng-enter         { animation:slideInLeft 0.5s both ease-in; }
.page-home.ng-leave         { animation:slideOutRight 0.5s both ease-in; }

/* about ------------------------ */
.page-photo.ng-enter        { animation:slideInDown 0.5s both ease-in; }
.page-photo.ng-leave        { animation:slideOutDown 0.5s both ease-in; }

/* contact ---------------------- */
.page-profile.ng-enter      { animation:slideInRight 0.5s both ease-in; }
.page-profile.ng-leave      { animation:slideOutLeft 0.5s both ease-in; }
