/*------- Styling for page-home.html -------*/

.hidden {
  visibility: hidden;
}

.col-center{
  margin:0 auto;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Styling for home gallery */
.gallery .caption {
  background-color: black;
}

.gallery .caption a {
  font-size: 16px;
  text-decoration: none;
  color: white;
}

.gallery .caption a:hover {
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.gallery .caption #author a {
  font-size: 12px;
  text-decoration: none;
  color: white;
}

.gallery .caption #author a:hover {
  font-weight: bold;
  text-decoration: none;
  color: white;
}



/*------- Styling for navbar -------*/

#navStyle {
  background-color: #162338;
}
#navStyle > a{
  background-color: inherit;
  color: #D1D6E9;
}

#navStyle > a:hover{
  color: white;
}

#navStyle > a:focus{
  color: white;
}

#navStyle > .navbar-collapse > ul > li > a {
  color: #D1D6E9;
}
#navStyle > .navbar-collapse > ul > li > a:hover {
  color: white;
  background-color: inherit;
}

#navStyle > .navbar-collapse > ul > li > a:focus {
  color: white;
  background-color: inherit;
}

.navbar-brand {
  font-size: 30px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
}

.navbar-nav > li > a {
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}

.nav, .navbar-nav > li {
  padding-right: 20px;
}

.nav, .navbar-nav > li:last-child {
  padding-right: 0px;
}

.nav, .navbar-nav, .navbar-right > li {
  padding-right: 20px;
}

#navbar-collapse > ul > .navbarButton > a {
  padding-top: 15px;
  padding-bottom: 11px;
  padding-left: 10px;
  font-weight: bold;
}


/* Styling for profile picture */
.profileButton {
  font-weight: bold;
  padding-top: 6px;
  padding-left: 10px
}

#profilePic {
  margin-right: 5px;
}


/* Styling for upload button and modal */
.glyphicon-upload {
  margin-right: 5px;
}

.modal-body .btn-primary {
  margin-bottom: 20px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


/* Styling for public button */
.glyphicon-globe {
  margin-right: 5px;
}


/* Styling for private button */
.glyphicon-envelope {
  margin-right: 5px;
}


/* Styling for search bar */
.searchBar {
  margin-left: 5px;
}

.stylish-input-group .input-group-addon {
  background: white !important;
}

.stylish-input-group .form-control {
  border-right:0;
  box-shadow:0 0 0;
  border-color:#ccc;
}

.stylish-input-group button {
  border: 0;
  background:transparent;
}


/* Styling for logout button */
.logOut {
  margin-right: 5px;
}


/* Styling for page-profile.html */
.container-full {
  width: 100%;
  margin: 0 auto;

}

body{
  padding: 0px;
}


#profileImg {
  margin-top: 60px;
  height: 200px;
}

.profileInfo {
  font-family: "Ariel", sans-serif;
}

.user{
  font-size: 32px;

}

/*background-color: #EFF5FB;*/
.profileContainer {
  color: #070B19;
}

/*------- Styling for page-photo.html -------*/

#photoPage {
  margin-top: 40px;
}


/* Photo column */
#clickedPhoto {
  float: right;
}


/* Delete photo */
.glyphicon-trash {
  padding-right: 5px;
  background: transparent;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

div.photo
  {
  position: relative;
  float:right;
  }

div.photo:hover button
  {
  display: block;
  border: none;
  color: white;

  font-size: 24px;
  weight: bold;
  background: transparent;
  bottom: 10;
  left: 10;
  }

div.photo:hover button:hover > span {
  color: white;
  font-size: 26px;
}

div.photo button
  {
  position:absolute;
  display:none;
  }


/* Comment column */
#commentColumn {
  height: 800px;
}

/* Photo information */
.photoInfo {
  height: 100px;
}

#userPhoto {
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
}

.photographer {
  font-weight: bold;
}

.photographer a {
  color: inherit;
  text-decoration: inherit;
}

.photographer a:hover {
  text-decoration: inherit;
  color: inherit;
}

.media-body a {
  color: inherit;
  text-decoration: inherit;
}

.date {
  color: #9d9d9d;
}

tag {
  font-family: "Ariel", sans-serif;
}

.tagButton {
  background-color: inherit;
  border: none;
}


/* Number of likes */
#divider {
  width: 440px;
  margin-top: 0px;
  margin-bottom: 10px;
  float: left;
}

.likeButton {
  background-color: inherit;
  border: none;
}

.glyphicon-thumbs-up {
  margin-right: 5px;
}

#photoBar {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-bottom: 10px;
  margin-top: 50px;
  margin-bottom: 0px;
}


/* Comments */
.media-heading {
  font-size: 14px;
  font-weight: bold;
}

#commentBox {
  float: left;
  overflow: auto;
  width: 440px;
  height: 550px;
}

.editButton {
  background-color: inherit;
  border: none;
  margin-left: 50px;
}

.addCommentBox {
  margin-top: 10px;
  float: left;
  width: 400px;
}


/* Edit comments */
.editCommentButton {
  background-color: inherit;
  border: none;
  font-size: 10px;
}


/* Delete comments */
.deleteCommentButton {
  background-color: inherit;
  border: none;
  font-size: 10px;
}



/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */

@keyframes slideOutLeft {
  to      { transform: translateX(-100%); }
}

@keyframes slideOutRight {
  to      { transform: translateX(100%); }
}

@keyframes slideOutDown {
  to       { transform:translateY(100%); }
}


/* entering animations --------------------------------------- */

@keyframes slideInLeft {
  from    { transform:translateX(-100%); }
  to      { transform: translateX(0); }
}

/* slide in from the right */
@keyframes slideInRight {
  from    { transform:translateX(100%); }
  to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInDown {
  from    { transform:translateY(-100%); }
  to      { transform: translateY(0); }
}

.ng-enter       { z-index: 8888; }
.ng-leave       { z-index: 9999; }

/* page specific animations ------------------------ */

/* home -------------------------- */
.page-home.ng-enter         { animation:slideInLeft 0.5s both ease-in; transition-delay: 0.5s; }
.page-home.ng-leave         { animation:slideOutRight 0.5s both ease-in; }

/* about ------------------------ */
.page-photo.ng-enter        { animation:slideInDown 0.5s both ease-in; transition-delay: 0.5s; }
.page-photo.ng-leave        { animation:slideOutDown 0.5s both ease-in; }

/* contact ---------------------- */
.page-profile.ng-enter      { animation:slideInRight 0.5s both ease-in; transition-delay: 0.5s; }
.page-profile.ng-leave      { animation:slideOutLeft 0.5s both ease-in; }
