<head>

  <!-- Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco' rel='stylesheet' type='text/css'>

  <!-- CSS Libraries -->
  <link rel='stylesheet' href='/components/bootstrap/dist/css/bootstrap.css'/>
  <link rel='stylesheet' href='/components/Justified-Gallery/dist/css/justifiedGallery.css'/>

  <!-- CSS -->
  <link rel='stylesheet' href='/stylesheets/style.css'/>

  <!-- Angular -->
  <script src="/components/angular/angular.js"></script>
  <script src="/components/angular-route/angular-route.js"></script>
  <script src="/components/angular-animate/angular-animate.js"></script>
  <script src="/components/angular-cookies/angular-cookies.js"></script>
  <script src="/components/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
  <script src="/javascripts/script.js"></script>

  <!-- Bootstrap Mobile Optimization -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- jQuery -->
  <script src="/components/jquery/dist/jquery.js"></script>

  <!-- Bootstrap Javascript -->
  <script src="/components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- Justified-Gallery -->
  <script src="/components/Justified-Gallery/dist/js/jquery.justifiedGallery.js"></script>


</head>
