<head>

  <!-- CSS -->
  <link rel='stylesheet' href='/components/bootstrap/dist/css/bootstrap.css'/>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <link href='http://fonts.googleapis.com/css?family=Sue+Ellen+Francisco' rel='stylesheet' type='text/css'>

  <!-- Angular -->
  <script src="/components/angular/angular.js"></script>
  <script src="/components/angular-route/angular-route.js"></script>
  <script src="/components/angular-animate/angular-animate.js"></script>
  <script src="/javascripts/script.js"></script>


  <!-- Bootstrap Mobile Optimization -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- jQuery -->
  <script src="/components/jquery/dist/jquery.js"></script>

  <!-- Bootstrap Javascript -->
  <script src="/components/bootstrap/dist/js/bootstrap.js"></script>


</head>
