<h1>Welcome to the Photo page!</h1>
<h2>Photo</h2>

<div class="jumbotron">
  <div align="center">

    <img src="{{photo.link}}">
    </img>

    <div ng-repeat="comment in comments">
      {{comment.author}}
      {{comment.content}}
      {{comment.date}}
    </div>

  </div>

  <form>

    <div class="form-group">


      <input type="text" class="form-control" ng-model="content" placeholder="Add comment">
      <button type="submit" class="btn btn-default" ng-click="addComment()">Submit</button>

    </div>

  </form>
</div>
