<div id="photoPage" class="container-fluid">

<!--Adds necessary spacing/padding-->
</br>

  <div class="row">

    <!--Displays the photo to the right of the screen-->
    <div class="col-lg-8 col-md-12">
      <div class="photo">
        <img class="img-responsive" id="clickedPhoto" ng-src="{{photo.link}}"/>

        <!--Allows the user to delete photo-->
        <button class="deletePhotoButton" ng-click="deletePhoto()"><span class="glyphicon glyphicon-trash"></span></button>
      </div>
    </div>

    <!--Displays what is left of the screen-->
    <div id="commentColumn" class="col-lg-4 col-md-12">

      <!--Displays the photo's information-->
      <div class="photoInfo">
        <div class="media">
          <div class="media-left media-middle">
            <a href="#/profile/{{photo.uid}}">
              <img id="userPhoto" class="media-object" ng-src="{{profile.img}}" height=60px>
            </a>
          </div>
          <div class="media-body">
            <h4 class="photographer"><a href="#/profile/{{photo.uid}}">{{photo.photographer}}</a></h4>
            <h5 class="date">{{photo.published}}</h5>
            <h5>{{photo.title}}</h5>
          </div>
        </div>

        <!--Displays the tags for the file-->
        <h5 class="tagField">
          <button ng-click="meta = !meta;" class="tagButton"><span class="glyphicon glyphicon-tag"></span></button>
          <span ng-if="photo.tags.length !== 0">
            <span ng-repeat="tag in photo.tags">
              <tag><a href="/#/public?tags={{tag}}">{{tag}}</a><span ng-hide="$last">, </span><tag>
            </span>
          </span>
          <span ng-if="photo.tags.length === 0">
            <tag>Add tags<tag>
          </span>
        </h5>
      </div>

      <!--Allows photographer to add tags to file-->
      <br ng-show="meta">
      <br ng-show="meta">
      <div ng-show="meta" class="input-group">
      <input type="text" ng-model="newMeta" class="form-control" placeholder="Enter new tags (separated by spaces)">
      <span class="input-group-btn"><button ng-click="meta = !meta; editPhoto(newMeta);" class="btn btn-primary" type="button">Submit</button>
      </span>
      </div>

      <!--Displays the like button and number of likes-->
      <div id="photoBar">
        <button ng-show="liked" class="likeButton" ng-click="like()"><span style="color: blue" class="glyphicon glyphicon-thumbs-up"></span></button>
        <button ng-show="!liked" class="likeButton" ng-click="like()"><span class="glyphicon glyphicon-thumbs-up"></span></button>

        <!--Dipslays number of people who have liked the file-->
        <span ng-if="photo.likes !== 1">
          {{photo.likes}} people
        </span>
        <span ng-if="photo.likes === 1">
          {{photo.likes}} person
        </span>

      </div>

      <!--Creates a divider before somments-->
      <hr id="divider">

      <!--Creates the comment box-->
      <div id="commentBox" class="media-list">
        <div class="media" id="comment" ng-repeat="comment in comments">

          <!--Displays the avatar of the user who commented-->
          <div class="media-left media-top">
            <a href="#/profile/{{comment.uid}}">
              <img id="userPhoto" class="media-object" ng-src="{{comment.profileImg}}" height=60px>
            </a>
          </div>

          <!--Shows the delete and edit comment buttons when comments are hovered over-->
          <div ng-mouseover="comment.hovered = true" ng-mouseleave="comment.hovered = false" class="media-body">

            <h4 class="media-heading">

              <!--Displays the name of the comment's author-->
              <a  href="#/profile/{{comment.uid}}">
                {{comment.author}}
              </a>

              <!--Displays the delete and edit comment buttons-->
              <span ng-show="!comment.loading && $root.uid == comment.uid && comment.hovered" style="float: right">
                <button  class="editCommentButton" ng-click="edit = !edit">
                  <span style="color: grey" class="glyphicon glyphicon-edit"></span>
                </button>
                <button class="deleteCommentButton" ng-click="deleteComment(comment.cid)">
                  <span style="color: grey" class="glyphicon glyphicon-remove"></span>
                </button>
              </span>

              <span ng-show="comment.success && !comment.loading">
                <span class="glyphicon glyphicon-ok-sign"></span>

              </span>

              <span ng-show="comment.failure && !comment.loading">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
              </span>

              <span ng-show="comment.loading">
                <span class="glyphicon glyphicon-refresh spin"></span>
              </span>

            </h4>

            <h5 ng-show="!edit">{{comment.content}}</h5>

            <!--This form allows user to hit enter to submit comment-->
            <form ng-submit="submit()">

              <!--Displays the "Edit comment" box-->
              <div ng-show="edit" class="input-group">
                <input id="commentText" type="text" ng-model="comment.content" class="form-control" >
                <span class="input-group-btn">
                  <button id="editCommentButton" ng-click="edit = !edit; editComment(comment.content, comment.cid);" class="btn btn-primary" type="submit">Submit</button>
                </span>

              </div>

            </form>

            <!--Displays the date the comment was published-->
            <h5 class="date">{{comment.date}}</h5>

          </div>

        </div>
      </div>

      <div>

        <!--This form allows user to hit enter to submit comment-->
        <form ng-submit="submit()">

          <!--Displays the "Add comment" box-->
          <div class="addCommentBox">
            <div class="input-group stylish-input-group">
                <input type="text" id="addComment" class="form-control" ng-model="content" placeholder="Add comment">
                  <span class="input-group-addon">
                    <button type="submit" id="addButton" ng-click="addComment()">
                      <span class="glyphicon glyphicon-plus"></span>
                    </button>
                  </span>
            </div>
          </div>
        </form>
      </div>

      <!--Adds responsiveness to the page-->
      <script>
      $(document).ready(function(){
        if ($(window).width() < 1270){
          $("#commentColumn").

          $scope.mediumScreen = false;
        }
        if ($(window).width() >= 1270){
          $scope.mediumScreen = true;
        }
      });

      $(window).resize(function() {
        if ($(window).width() < 1148 || $(window).width() > 767){
          $scope.mediumScreen = false;
        }
        $scope.$apply();
        if ($(window).width() >= 1127 || $(window).width() <= 746){
          $scope.mediumScreen = true;
        }
        $scope.$apply();
      });
      </script>

    </div>

  </div>

</div>
