<div id="photoPage" class="container-fluid">

<!--Adds necessary spacing/padding-->
</br>

  <div class="row">

    <!--Displays the photo to the right of the screen-->
    <div class="col-md-8" style="position: relative;">
      <div class="photo" >
        <img id="clickedPhoto" ng-src="{{photo.link}}"/>

        <!--Allows the user to delete photo-->
        <button class="deletePhotoButton" ng-click="deletePhoto(photo.pid)"><span style="color: white" class="glyphicon glyphicon-trash"></span></button>
      </div>
    </div>

    <!--Displays what is left of the screen-->
    <div id="commentColumn" class="col-md-4">

      <!--Displays the photo's information-->
      <div class="photoInfo">
        <div class="media">
          <div class="media-left media-middle">
            <a href="#/profile/{{photo.uid}}">
              <img id="userPhoto" class="media-object" ng-src="{{photo.profile.img}}" height=60px>
            </a>
          </div>
          <div class="media-body">
            <h4 class="photographer"><a href="#/profile/{{photo.uid}}">{{photo.photographer}}</a></h4>
            <h5 class="date">{{photo.published}}</h5>
            <h5>{{photo.title}}</h5>
          </div>
        </div>
        <h5><span ng-if="photo.tags.length > 0" class="glyphicon glyphicon-tag"></span>{{photo.tags.join(", ")}}</h5>
      </div>

      <!--Displays the like button and number of likes-->
      <div id="photoBar">
        <button ng-show="liked" class="likeButton" ng-click="like()"><span style="color: blue" class="glyphicon glyphicon-thumbs-up"></span></button>
        <button ng-show="!liked" class="likeButton" ng-click="like()"><span class="glyphicon glyphicon-thumbs-up"></span></button>
        {{photo.likes}} people
      </div>

      <!--Creates a divider before somments-->
      <hr id="divider">

      <!--Creates the comment box-->
      <ul id="commentBox" class="media-list">
        <li class="media" id="comment" ng-repeat="comment in comments">

          <!--Displays the avatar of the user who commented-->
          <div class="media-left media-top">
            <a href="#/profile/{{comment.uid}}">
              <img id="userPhoto" class="media-object" ng-src="{{comment.profileImg}}" height=60px>
            </a>
          </div>

          <!--Displays the comments-->
          <div class="media-body">
            <a  href="#/profile/{{comment.uid}}"><h4 class="media-heading">{{comment.author}}</h4></a>
            <h5>{{comment.content}}</h5>
            <h5 class="date">{{comment.date}}</h5>
          </div>

          <!--Allows the user to delete a comment-->
          <div ng-show="uid == comment.uid" class="media-right media-top deleteComment">
            <button class="deleteCommentButton" ng-click="deleteComment(comment.cid)"><span style="color: grey" class="glyphicon glyphicon-remove"></span></button>
          </div>

        </li>
      </ul>

      <ul>

        <!--This form allows user to hit enter to submit comment-->
        <form ng-submit="submit()">

          <!--Displays the "Add comment" box-->
          <li class="addCommentBox">
            <div class="input-group stylish-input-group">
                <input type="text" id="addComment" class="form-control" ng-model="content" placeholder="Add comment">
                  <span class="input-group-addon">
                    <button type="submit" id="addButton" ng-click="addComment()">
                      <span class="glyphicon glyphicon-plus"></span>
                    </button>
                  </span>
            </div>
          </li>
        </form>
      </ul>

    </div>
  </div>

</div>
